(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 0.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967297: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 64.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 64.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967298: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 128.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 128.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967299: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 192.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 192.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967300: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 256.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 256.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967301: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 320.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 320.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967302: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 384.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 384.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967303: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 448.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 448.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967304: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 512.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 512.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967305: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 576.0,
            y: -32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 576.0,
            y: -32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967306: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 128.0,
            y: 32.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 32.0,
            y: 32.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967307: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 128.0,
            y: 96.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 32.0,
            y: 96.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967308: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 128.0,
            y: 160.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 32.0,
            y: 160.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967309: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 128.0,
            y: 224.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 32.0,
            y: 224.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967310: (
      components: {
        "a_way_back_home::components::Tile": (
          pos: (
            x: 128.0,
            y: 288.0,
          ),
          size: (
            x: 16.0,
            y: 16.0,
          ),
        ),
        "avian2d::collision::collider::constructor::ColliderConstructor": Rectangle(
          x_length: 16.0,
          y_length: 16.0,
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "a_way_back_home::components::SpriteMarker": ("sprites/terrain/dirt-1.png"),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 32.0,
            y: 288.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.0,
            y: 4.0,
            z: 4.0,
          ),
        ),
      },
    ),
    4294967311: (
      components: {
        "a_way_back_home::world::scene::PlayerSpawnMarker": ((
          x: 0.0,
          y: 60.0,
        )),
      },
    ),
  },
)